<table class="table mx-auto" style="width: 1800px;">
    <thead class="table-dark">
      <tr>
        <th>Descripcion de la tarea</th>
        <th scope="col">Tiempo asignado a la tarea</th>
        <th scope="col">Tiempo restante</th>
        <th scope="col">Controles</th>
        <th scope="col">Finalizada</th>
        <th scope="col">Tiempo en Completarse</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Descripcion de la tarea</td>
        <td>00:00:00</td>
        <td>00:00:00</td>
        <td> 
            <i class="fas fa-play mx-2"></i>  
            <i class="fas fa-pause mx-2"></i>
            <i class="fas fa-sync-alt mx-2"></i>  
        </td>
        <td>Finalizada</td>
        <td>00:00:00</td>
        <td>
            <i class="fas fa-check mx-2"></i>
            <i class="fas fa-edit mx-2"></i>
            <i class="fas fa-trash-alt mx-2"></i>
        </td>
      </tr>
      <tr>
        <td>Descripcion de la tarea</td>
        <td>00:00:00</td>
        <td>00:00:00</td>
        <td> 
            <i class="fas fa-play mx-2"></i>  
            <i class="fas fa-pause mx-2"></i>
            <i class="fas fa-sync-alt mx-2"></i>  
        </td>
        <td>En proceso</td>
        <td>00:00:00</td>
        <td>
            <i class="fas fa-check mx-2"></i>
            <i class="fas fa-edit mx-2"></i>
            <i class="fas fa-trash-alt mx-2"></i>
        </td>
      </tr>
      <tr>
        <td>Descripcion de la tarea</td>
        <td>00:00:00</td>
        <td>00:00:00</td>
        <td> 
            <i class="fas fa-play mx-2"></i>  
            <i class="fas fa-pause mx-2"></i>
            <i class="fas fa-sync-alt mx-2"></i>  
        </td>
        <td> - </td>
        <td>00:00:00</td>
        <td>
            <i class="fas fa-check mx-2"></i>
            <i class="fas fa-edit mx-2"></i>
            <i class="fas fa-trash-alt mx-2"></i>
        </td>
      </tr>
      <tr>
        <td>Descripcion de la tarea</td>
        <td>00:00:00</td>
        <td>00:00:00</td>
        <td > 
            <i class="fas fa-play mx-2"></i>  
            <i class="fas fa-pause mx-2"></i>
            <i class="fas fa-sync-alt mx-2"></i>  
        </td>
        <td>Finalizada</td>
        <td>00:00:00</td>
        <td>
            <i class="fas fa-check mx-2"></i>
            <i class="fas fa-edit mx-2"></i>
            <i class="fas fa-trash-alt mx-2"></i>
        </td>
      </tr>
      <tr>
        <td>Descripcion de la tarea</td>
        <td>00:00:00</td>
        <td>00:00:00</td>
        <td> 
            <i class="fas fa-play mx-2"></i>  
            <i class="fas fa-pause mx-2"></i>
            <i class="fas fa-sync-alt mx-2"></i>  
        </td>
        <td>Finalizada</td>
        <td>00:00:00</td>
        <td>
            <i class="fas fa-check mx-2"></i>
            <i class="fas fa-edit mx-2"></i>
            <i class="fas fa-trash-alt mx-2"></i>
        </td>
      </tr>
    </tbody>
  </table>